mixin sale(saleContent, mods)
  -
    const baseName = 'sale'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .sale(class=allMods)&attributes(attributes)
    .sale__content
      each saleItem in saleContent.items
        .sale__item
          +ui-h4(saleItem.title, "sale, --semibold")
          +ui-p1(saleItem.text)
    block
