mixin banner(bannerItems, mods)
  -
    const baseName = 'banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .banner(class=allMods)&attributes(attributes)
    .swiper
      .swiper-wrapper
        each bannerItem in bannerItems
          .swiper-slide.banner__content
            .banner__info
              +ui-h1(bannerItem.title, "banner, --semibold, --white")
              +ui-p2(bannerItem.text, "banner, --white")
              if bannerItem.buttonText
                +ui-button({p2: bannerItem.buttonText}, "banner, --white, --bgFilled, --xs")
            .banner__image
              img(src=bannerItem.src, alt="banner-image")
      +ui-swiper-buttons()
    block
