.banner {
  position: relative;
  height: 500px;
  margin: 0 -20px;
  padding: 0 20px;
  background: $base-primary;
  @include media-laptop{
    height: 485px;
    background: $new-gradient-1;
  }
  @include media-tablet{
    height: 470px;
    padding: 0 16px;
    margin: 0 -16px;
  }
  &__info { 
    padding-top: 90px;
    @include media-laptop {
      padding-top: 50px;
    }
    @include media-tablet {
      padding-top: 30px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 93px;
    @include media-tablet {
      display: block;
    }
  }
  &__ui-h1 {
    margin-bottom: 28px;
    @include media-laptop  {
      margin-bottom: 22px;
    }
    @include media-tablet {
      margin-bottom: 16px;
    }
  }
  &__ui-p2 {
    @include media-laptop{
      padding-right: 360px;
    }
    @include media-tablet {
      padding: 0;
      margin-bottom: 24px;
    }
  }
  &__image {
    position: relative;
    margin: 0 auto;
    @include media-laptop  {
      position: absolute;
      right: 0;
      width: 100%;
      max-width: 490px;
      max-height: 282px;
      margin-top: 150px; 
    }
    @include media-tablet  {
      position: static;
      max-width: 360px;
      max-height: 216px;
      margin: 0 auto;
    }
  }
}
