@import "./styles/fonts.less";
@import "./styles/variables.less";
@import "./styles/choice/choice.less";
@import "./styles/questions/questions.less";
@import "./styles/ugoria-advantages/ugoria-advantages.less";
@import "./styles/useful/useful.less";
@import "./styles/small-banner/small-banner.less";
@import "./styles/sale/sale.less";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  background: #f6f7f8;
}
button {
  border: none;
  background: none;
}
.wrapper {
  margin: 0 auto;
  .main {
    padding: 0 20px 90px 20px; // variable
    @media @tablet {
      padding-bottom: 50px;
    }
    @media @mobile {
      padding: 0 16px 40px 16px;
    }
    .inner {
      max-width: 1440px;
      min-width: 320px;
      margin: 0 auto;
    }
  }
}
.section { 
    margin-bottom: 90px;
    @media @tablet {
      margin-bottom: 50px;
    }
    @media @mobile {
      margin-bottom: 40px;
    }
  &__header {
    margin-bottom: 35px;
    @media @tablet {
      margin-bottom: 24px;
      font-size: 24px;
    }
    @media @mobile {
      font-size: 20px;
    }
    h2 {
      color: @base-black;
      font-family: @font-Unbounded;
      font-size: 30px;
      font-weight: 600;
      line-height: 130%;
    }
  }
}
.H-4_semibold_24 {
  font-family: @font-Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 33.6px */
}
