@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded/Unbounded-Medium.woff2") format("woff2"), url("../fonts/Unbounded/Unbounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded/Unbounded-SemiBold.woff2") format("woff2"), url("../fonts/Unbounded/Unbounded-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Unbounded";
  src: url("../fonts/Unbounded/Unbounded-Regular.woff2") format("woff2"), url("../fonts/Unbounded/Unbounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header__top {
  border-bottom: 1px solid #e2e1ec;
  padding: 0 20px;
}
.header__bottom {
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .header__bottom {
    padding: 0 16px;
  }
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__login .insurance {
  display: flex;
  align-items: center;
  gap: 3px;
  color: #e3255e;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.header__login .insurance__wrapper {
  height: 18px;
}
.header__button {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  border: 2px solid #0054e6;
  color: #0054e6;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  cursor: pointer;
}
.header__button:hover {
  background: rgba(99, 138, 255, 0.1);
}
.header__logo {
  margin-right: 40px;
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-right: 20px;
    height: 24px;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.nav__main {
  display: flex;
  gap: 20px;
}
.nav__main .nav__link {
  position: relative;
}
.nav__main .nav__link:after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  margin-top: 19px;
  content: "";
  opacity: 0;
  background-color: #0054e6;
  transition: opacity 0.3s;
}
.nav__main .nav__link:hover:after,
.nav__main .nav__link:focus:after {
  opacity: 1;
}
.nav__search {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__search .nav__link {
  display: flex;
  align-items: center;
  height: 24px;
  gap: 6px;
}
.nav__menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__link {
  color: #767680;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.nav__link:hover {
  color: #0054e6;
}
.choice-swiper {
  position: relative;
}
.choice__title {
  margin-bottom: 18px;
}
@media screen and (max-width: 1440px) {
  .choice__title {
    margin-bottom: 12px;
  }
}
.choice__text {
  width: 66%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
@media screen and (max-width: 1440px) {
  .choice__text {
    width: 100%;
  }
}
.choice__content {
  padding-bottom: 40px;
}
@media screen and (max-width: 1440px) {
  .choice__content {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .choice__content {
    padding-bottom: 43px;
  }
}
.choice__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}
@media screen and (max-width: 1440px) {
  .choice__wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .choice__wrapper {
    display: flex;
    gap: 0;
  }
}
.choice-item {
  text-align: center;
  height: auto;
  padding: 30px 55px 49px;
  border-radius: 6px;
  background: #fff;
  color: #272727;
}
@media screen and (max-width: 1440px) {
  .choice-item {
    padding: 30px 22px;
  }
}
@media screen and (max-width: 768px) {
  .choice-item {
    text-align: left;
    max-width: 302px;
    padding: 20px 16px 30px;
  }
}
.choice-item__title {
  margin-bottom: 16px;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}
.choice-item__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.choice-item__image {
  min-width: 130px;
  max-width: 178px;
  margin: 0 auto 38px;
}
@media screen and (max-width: 1440px) {
  .choice-item__image {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 768px) {
  .choice-item__image {
    max-width: 130px;
    margin: 0;
    padding: 0;
  }
}
.choice__button {
  display: block;
  margin: 0 auto;
  padding: 14px 70px;
  border: 1px solid #638aff;
  border-radius: 4px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #638aff;
  cursor: pointer;
}
.choice__button:hover {
  background-color: rgba(99, 138, 255, 0.1);
}
.choice__button:active {
  background-color: rgba(99, 138, 255, 0.2);
}
@keyframes animDisp {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.questions {
  padding: 50px 90px;
  background: #d6dcea;
}
@media screen and (max-width: 1440px) {
  .questions {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 768px) {
  .questions {
    margin: 0 -16px;
    padding: 30px 16px 40px;
  }
}
.questions__content {
  padding: 20px 90px 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 20px 24px 0px rgba(0, 0, 0, 0.12);
  background: #fff;
}
@media screen and (max-width: 1440px) {
  .questions__content {
    padding: 10px 20px 30px;
  }
}
@media screen and (max-width: 768px) {
  .questions__content {
    padding: 4px 16px 24px;
  }
}
.questions__item {
  border-bottom: 1px solid #e2e1ec;
}
.questions .is-visible {
  display: block;
  opacity: 1;
  animation: animDisp 0.3s ease-in-out;
}
.questions__text {
  display: none;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #272727;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.questions__text ul {
  margin-bottom: 1.2rem;
  padding-left: 20px;
}
.questions__text ul li {
  margin-bottom: 1.2rem;
}
.questions__text ul li:last-child {
  margin-bottom: 0;
}
.questions__text ul li::marker {
  color: #0054e6;
}
.questions__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  cursor: pointer;
}
.questions__expand {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.questions .expand__plus {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 16px;
  height: 2px;
  background: #272727;
  transition: all 1s;
}
.questions .expand__plus:first-child {
  display: inline-block;
}
.questions .expand__plus:last-child {
  transition: all 1s;
  transform: rotate(90deg);
}
.questions .expand__plus-active {
  display: inline-block;
}
.questions__title {
  color: #272727;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
@media screen and (max-width: 768px) {
  .questions__title {
    font-size: 16px;
  }
}
.advantages__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .advantages__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 16px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__content {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.advantages-item {
  padding: 30px 20px 55px;
  border-radius: 6px;
  background: #fff;
}
.advantages-item__header {
  margin-bottom: 54px;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  background: linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%), linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.advantages-item__text {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
@media screen and (max-width: 1440px) {
  .advantages-item__text {
    padding-right: 27px;
  }
}
.advantages-item__text .external-link {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 24px;
  height: 24px;
  margin-left: 3px;
}
.useful__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .useful__content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .useful__content {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.useful-item {
  padding: 20px 16px;
  border-radius: 6px;
  background: #fff;
}
@media screen and (max-width: 1440px) {
  .useful-item {
    padding: 20px 16px;
  }
}
@media screen and (max-width: 768px) {
  .useful-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 20px 20px;
  }
}
.useful-item__header {
  width: 36px;
  height: 36px;
  margin-bottom: 53px;
}
@media screen and (max-width: 1440px) {
  .useful-item__header {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 768px) {
  .useful-item__header {
    min-width: 36px;
    margin: 0;
  }
}
.useful-item_accident {
  height: 100%;
  padding: 4px 0;
}
.useful-item_transp {
  height: 100%;
  padding: 5px 3.43px;
}
.useful-item_parking {
  height: 100%;
}
.useful-item_mask {
  height: 100%;
  padding: 4.5px 7px;
}
.useful-item__title {
  margin-bottom: 12px;
  color: #272727;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}
@media screen and (max-width: 1440px) {
  .useful-item__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1440px) {
  .useful-item__title {
    margin-bottom: 8px;
  }
}
.useful-item__desc {
  color: #767680;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
}
.small-banner {
  padding: 35px 90px;
  border-radius: 6px;
  background: #638aff;
  color: #fff;
}
@media screen and (max-width: 1440px) {
  .small-banner {
    padding: 40px 30px 17px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner {
    padding: 24px 16px 14px;
  }
}
.small-banner__image {
  margin: 0 auto;
  max-width: 410px;
  max-height: 320px;
}
@media screen and (max-width: 1440px) {
  .small-banner__image {
    max-width: 329px;
    max-height: 257px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner__image {
    max-width: 271px;
    max-height: 210px;
  }
}
.small-banner__header {
  margin-bottom: 18px;
}
@media screen and (max-width: 1440px) {
  .small-banner__header {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner__header {
    margin-bottom: 10px;
  }
}
.small-banner__header h2 {
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
@media screen and (max-width: 1440px) {
  .small-banner__header h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner__header h2 {
    font-size: 20px;
  }
}
.small-banner__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 175px;
}
@media screen and (max-width: 1440px) {
  .small-banner__content {
    display: block;
  }
}
.small-banner__text {
  font-family: "Montserrat", "Arial", sans-serif;
}
@media screen and (max-width: 1440px) {
  .small-banner__text {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner__text {
    margin-bottom: 18px;
  }
}
.small-banner__text ul {
  padding-right: 35px;
  padding-left: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.small-banner__text ul li:not(:last-child) {
  margin-bottom: 12px;
}
@media screen and (max-width: 1440px) {
  .small-banner__text ul li:not(:last-child) {
    margin-bottom: 10px;
  }
}
.small-banner__title {
  margin-bottom: 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
@media screen and (max-width: 1440px) {
  .small-banner__title {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 768px) {
  .small-banner__title {
    margin-bottom: 20px;
  }
}
.sale__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  padding: 50px 130px;
  border-radius: 6px;
  background: #fff;
}
@media screen and (max-width: 1440px) {
  .sale__content {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 40px 30px;
  }
}
@media screen and (max-width: 768px) {
  .sale__content {
    gap: 24px;
    padding: 35px 24px;
  }
}
.sale__item {
  text-align: center;
}
@media screen and (max-width: 1440px) {
  .sale__item {
    text-align: left;
  }
}
.sale__title {
  margin-bottom: 16px;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  background: linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1440px) {
  .sale__title {
    margin-bottom: 8px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .sale__title {
    margin-bottom: 5px;
  }
}
.sale__title-number {
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
}
@media screen and (max-width: 1440px) {
  .sale__title-number {
    font-size: 30px;
  }
}
.sale__text {
  color: #272727;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}
.choice-swiper-pagination {
  display: none;
  bottom: 0 !important;
  margin-bottom: 19px;
}
@media screen and (max-width: 768px) {
  .choice-swiper-pagination {
    display: block;
  }
}
.choice .swiper-pagination-bullet {
  height: 5px;
  width: 5px;
  background: #8da8ff;
  opacity: 0.7;
}
.choice .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
  background: #326cfd;
}
.pros__content {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 95px;
}
@media screen and (max-width: 1440px) {
  .pros__content {
    display: block;
  }
}
.pros__image {
  margin: 0 auto;
  max-width: 640px;
  max-height: 480px;
  border-radius: 6px;
}
@media screen and (max-width: 1440px) {
  .pros__image {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .pros__image {
    max-width: 328px;
    max-height: 246px;
    margin-top: 24px;
  }
}
.pros-item {
  padding: 24px 0;
  border-bottom: 1px solid #e2e1ec;
}
@media screen and (max-width: 1440px) {
  .pros-item {
    padding: 20px 0;
  }
}
@media screen and (max-width: 768px) {
  .pros-item {
    margin-top: 16px;
  }
}
.pros-item:first-child {
  padding-top: 0;
}
.pros-item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.pros-item__title {
  margin-bottom: 12px;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  background: linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 1440px) {
  .pros-item__title {
    margin-bottom: 10px;
    font-size: 18px;
  }
}
.pros-item__text {
  color: #272727;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
}
html {
  font-size: 10px;
}
body {
  background: #f6f7f8;
}
button {
  border: none;
  background: none;
}
a {
  text-decoration: none;
}
.wrapper {
  margin: 0 auto;
}
.wrapper .main {
  padding: 0 20px 90px 20px;
}
@media screen and (max-width: 1440px) {
  .wrapper .main {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .main {
    padding: 0 16px 40px 16px;
  }
}
.inner {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
}
.section:not(:last-child) {
  margin-bottom: 90px;
}
@media screen and (max-width: 1440px) {
  .section:not(:last-child) {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .section:not(:last-child) {
    margin-bottom: 40px;
  }
}
.section__header {
  margin-bottom: 35px;
}
@media screen and (max-width: 1440px) {
  .section__header {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .section__header {
    font-size: 20px;
  }
}
.section__header h2 {
  color: #272727;
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 130%;
}
.H-4_semibold_24 {
  font-family: "Unbounded", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 33.6px */
}
@media screen and (max-width: 768px) {
  .mob-hidden {
    display: none;
  }
}
.mob-disp {
  display: none;
}
@media screen and (max-width: 768px) {
  .mob-disp {
    display: block;
  }
}
@media screen and (max-width: 1440px) {
  .tablet-hidden {
    display: none;
  }
}
.tablet-disp {
  display: none;
}
@media screen and (max-width: 1440px) {
  .tablet-disp {
    display: block;
  }
}
