mixin request(requestContent, id, mods)
  -
    const baseName = 'request'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .request(class=allMods)&attributes(attributes)
    .request__content
      form(action="").request__form
        .request__input-wrapper
          +ui-input(id + 'Surname', 'Фамилия')(required)
          +ui-input(id + 'Name', 'Имя')(required)
          +ui-input(id + 'phone', 'Номер телефона', "", "phone")(required)
        .request__assent
          +ui-checkbox(id + 'agreement', '<span class="ui-p3">Даю согласие на <a class="request__assent-link" href="#">обработку персональных данных </a>.</span>')(required)
        +ui-button({p2: requestContent.buttonText}, "--filled")
    block
