.request {
  border-radius: 6px;
  &__ui-h2 {
    margin-bottom: 18px;
    @include media-laptop {
      margin-bottom: 12px;
    }
  }
  &__ui-p2 {
    margin-bottom: 28px;
    @include media-laptop {
      margin-bottom: 24px;
    }
  }
  &__input-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    @include media-laptop {
      grid-template-columns: 1fr;
      gap: 24px;
      margin-bottom: 24px;
    }
  }
  &__assent {
    margin-bottom: 30px;
    @include media-laptop {
      margin-bottom: 24px;
    }
  }
}

