.ui-h1 {
  font-size: 36px;
  font-family: $font-Unbounded;
  font-weight: 400;
  line-height: 120%;
  @include media-laptop {
    font-size: 28px;
  }
  @include media-tablet {
    font-size: 22px;
  }
}
.ui-h2 {
  font-size: 30px;
  font-family: $font-Unbounded;
  font-weight: 400;
  line-height: 130%;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 20px;
  }
}
.ui-h3 {
  font-size: 28px;
  font-family: $font-Unbounded;
  font-weight: 400;
  line-height: 120%;
  @include media-laptop {
    font-size: 22px;
  }
  @include media-tablet {
    font-size: 18px;
  }
}
.ui-h4 {
  font-size: 24px;
  font-family: $font-Unbounded;
  font-weight: 400;
  line-height: 140%;
  @include media-laptop {
    font-size: 18px;
  }
}
.ui-h5 {
  font-size: 18px;
  font-family: $font-Unbounded;
  font-weight: 400;
  line-height: 140%;
  @include media-laptop {
    font-size: 16px;
  }
  @include media-tablet {
    font-size: 18px;
  }
}
[class*='ui-h'] {
  &[class*='--semibold'] {
    font-weight: 600;
  }
  &[class*='--white'] {
    color: $base-white;
  }
  &[class*='--montserrat'] {
    font-family: $font-Montserrat;
  }
}
