.ui-h1 {
  font: 36px $font-Unbounded;
  font-weight: 400;
  line-height: 120%;
  @include media-laptop {
    font-size: 28px;
  }
  @include media-tablet {
    font-size: 22px;
  }
}
.ui-h2 {
  font: 30px $font-Unbounded;
  font-weight: 400;
  line-height: 130%;
  @include media-laptop {
    font-size: 24px;
  }
  @include media-tablet {
    font-size: 20px;
  }
}
.ui-h3 {
  font: 28px $font-Unbounded;
  font-weight: 400;
  line-height: 120%;
  @include media-laptop {
    font-size: 22px;
  }
  @include media-tablet {
    font-size: 18px;
  }
}
.ui-h4 {
  font: 24px $font-Unbounded;
  font-weight: 400;
  line-height: 140%;
  @include media-laptop {
    font-size: 18px;
  }
}
.ui-h5 {
  font: 18px $font-Unbounded;
  font-weight: 400;
  line-height: 140%;
  @include media-laptop {
    font-size: 16px;
  }
  @include media-tablet {
    font-size: 18px;
  }
}
[class*='ui-h'] {
  &[class*='--semibold'] {
    font-weight: 600;
  }
  &[class*='--white'] {
    color: $base-white;
  }
}
