.breadcrumbs {
  display: flex;
  align-items: center;
  @include media-tablet {
    overflow-y: auto;
  }
  &__item {
    position: relative;
    padding-right: 7px;
    margin-right: 7px;
    font-size: 14px;
    white-space: nowrap;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 10px;
      background: $base-ghost;
    }
    &:last-child {
      margin-right: 0;
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__text {
    color: $base-ghost;
  }
  &__link {
    color: $base-black;
  }
  &--filled {
    .breadcrumbs__text {
      color: $main-neutral-neutral-variant-80;
    }
    .breadcrumbs__link {
      color: $base-white;
    }
    .breadcrumbs__item {
      &::after {
        background: $main-neutral-neutral-variant-80;
      }
    }
    @include media-tablet {
      .breadcrumbs__text {
        color: $base-ghost;
      }
      .breadcrumbs__link {
        color: $base-black;
      }
      .breadcrumbs__item {
        &::after {
          background: $base-ghost;
        }
      }
    }
  }
}
