.ui-p1 {
  font-size: 18px;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 140%;
}
.ui-p2 {
  font-size: 16px;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 140%;
}
.ui-p3 {
  font-size: 14px;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 140%;
  @include media-laptop{
    font-size: 13px;
  }
}
.ui-p4 {
  font-size: 13px;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 140%;
  @include media-tablet {
    font-size: 11px;
  }
}
.ui-p5 {
  font-size: 12px;
  font-family: $font-Montserrat;
  font-weight: 500;
  line-height: 120%;
  @include media-tablet {
    font-size: 11px;
  }
}
[class*='ui-p'] {
  &[class*='--regular'] {
    font-weight: 400;
  }
  &[class*='--semibold'] {
    font-weight: 600;
  }
  &[class*='--white'] {
    color: $base-white;
  }
}
