.section {
  &:not(:first-child) {
    margin-top: 90px;
    @include media-laptop {
      margin-top: 50px;
    }
    @include media-tablet {
      margin-top: 40px;
    }
  }
  &:first-child {
    margin-top: -110px;
    @include media-laptop {
      margin-top: -75px;
    }
    @include media-tablet {
      margin: -40px -16px 0;
    }
  }
}
