@font-face {
  font-family: "Unbounded";
  src: url("fonts/Unbounded-Regular.woff2") format("woff2"), url("fonts/Unbounded-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"), url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.advantages__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media screen and (max-width: 1440px) {
  .advantages__content {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 16px;
  }
}
@media screen and (max-width: 768px) {
  .advantages__content {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
.advantages-item {
  position: relative;
  background: #fff;
  padding: 30px 20px 55px;
  border-radius: 6px;
}
.advantages-item__header {
  margin-bottom: 54px;
  position: relative;
  font-family: "Unbounded";
  font-size: 40px;
  font-weight: 500;
  line-height: 120%;
  background: linear-gradient(91deg, #5A6BFF 0.89%, #0054E6 99.35%), linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.advantages-item__header span {
  font-size: 24px;
  font-weight: 600;
  line-height: 140%;
}
.advantages-text {
  position: relative;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}
@media screen and (max-width: 1440px) {
  .advantages-text {
    padding-right: 27px;
  }
}
@media screen and (max-width: 1440px) {
  .advantages-text {
    padding-right: 0;
  }
}
.advantages-text .external-link {
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin-left: 3px;
  width: 24px;
  height: 24px;
}
