-
  const footerMenu = [
    { title: 'Title_1',
      list: [
      { name: 'Link_1', link: '#' },
      { name: 'Link_2', link: '#' },
      { name: 'Link_3', link: '#' }
    ]},
    { title: 'Title_2',
      list: [
      { name: 'Link_1', link: '#' },
      { name: 'Link_2', link: '#' },
      { name: 'Link_3', link: '#' }
    ]},
    { title: 'Title_3',
      list: [
      { name: 'Link_1', link: '#' },
      { name: 'Link_2', link: '#' },
      { name: 'Link_3', link: '#' }
    ]},
    { title: 'Title_4',
      list: [
      { name: 'Link_1', link: '#' },
      { name: 'Link_2', link: '#' },
      { name: 'Link_3', link: '#' }
    ]}
  ]

footer.footer
  .inner
    .footer__search
