.ui-expand {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  .expand__plus {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 2px;
    background: $base-black;
    transition: all 1s;
    &:first-child {
      display: inline-block;
    }
    &:last-child {
      transition: all 1s;
      transform: rotate(90deg);
    }
    &-active {
      display: inline-block;
    }
  }
}
