.ui-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14px 70px;
  color: $base-white;
  background: $main-primary-primary-50;
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
  &--xs {
    padding: 14px 48px;
  }
  &--xxs {
    padding: 10px 20px;
  }
  &:hover {
    background: $main-primary-primary-40;
  }
  &:active {
    background: $main-primary-primary-40;
  }
}
