.ui-button {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  padding: 14px 70px;
  border-radius: 4px;
  transition: 0.3s;
  color: $main-primary-primary-60;
  cursor: pointer;
  @include media-tablet {
    width: 100%;
    padding: 10px 0;
  }
  &:disabled {
    background: $main-neutral-neutral-variant-90;
  }
  &:hover {
    color: $base-white;
    background: $main-primary-primary-40;
  }
  &:active {
    color: $base-white;
    background: $main-primary-primary-40;
  }
  &--xs {
    padding: 14px 48px;
    @include media-tablet {
      width: 100%;
      padding: 10px 0;
    }
  }
  &--xxs {
    padding: 10px 20px;
    @include media-tablet {
      width: 100%;
      padding: 10px 0;
    }
  }
  &--border {
    border: 1px solid $main-primary-primary-60;
  }
  &--border-white {
    border: 1px solid $base-white;
  }
  &--filled {
    color: $base-white;
    background: $main-primary-primary-50;
  }
  &--bgFilled {
    &:hover {
      background: $main-secondary-secondary-100;
      color: $main-primary-primary-40;
    }
    &:active {
      background: $main-secondary-secondary-90;
      color: $main-primary-primary-40;
    }
  }
  &--white {
    background: $base-white;
    color: $main-primary-primary-60;
  }
  &--center {
    display: block;
    margin: 0 auto;
  }
}
