:root {
  // fonts
  --font-Montserrat: 'Montserrat', 'Arial', sans-serif;
  --font-Unbounded: 'Unbounded', 'Arial', sans-serif;
  // colors
  --base-bg: #f6f7f8;
  --base-black: #272727;
  --base-white: #fff;
  --base-primary: #0054e6;
  --base-ghost: #8f9bb3;
  --main-primary-primary-50: #326cfd;
  --main-primary-primary-60: rgb(99, 138, 255);
  --main-primary-primary-40: #0051df;
  --main-primary-primary-70: #8da8ff;
  --main-neutral-neutral-variant-50: #767680;
  --main-neutral-neutral-variant-90: #e2e1ec;
  --main-error-error-50: #e3255e;
  --main-error-error-60: #ff3d71;
  --new-ghost-2: #d6dcea;
  --new-gradient-1: linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
  --new-error-10: #fdeeee;
}

// fonts
$font-Montserrat: var(--font-Montserrat);
$font-Unbounded: var(--font-Unbounded);
$font: var(--font-Montserrat);

// colors
$base-bg: var(--base-bg);
$base-black: var(--base-black);
$base-white: var(--base-white);
$base-primary: var(--base-primary);
$base-ghost: var(--base-ghost);
$main-primary-primary-40: var(--main-primary-primary-40);
$main-primary-primary-50: var(--main-primary-primary-50);
$main-primary-primary-60: var(--main-primary-primary-60);
$main-primary-primary-70: var(--main-primary-primary-70);
$main-neutral-neutral-variant-50: var(--main-neutral-neutral-variant-50);
$main-neutral-neutral-variant-90: var(--main-neutral-neutral-variant-90);
$new-error-10: var(--new-error-10);
$main-error-error-50: var(--main-error-error-50);
$main-error-error-60: var(--main-error-error-60);
$new-ghost-2: var(--new-ghost-2);
$new-gradient-1: var(--new-gradient-1);

// media
$mediaWidthLaptop: 1440px;
$mediaWidthTablet: 767px;
$mediaWidthMobile: 320px;
