mixin ui-accordion(text, mods)
  -
    const baseName = 'ui-accordion'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .ui-accordion(class=allMods)&attributes(attributes)
    .ui-accordion__head
      if text.h5
        +ui-h5(text.h5, "--semibold")
      else if text.p2 
        +ui-p2(text.p2, "--semibold --white")
      .ui-accordion__toggle
    .ui-accordion__body
      block
