mixin menu-popup(menuPopupContent, mods)
  -
    const baseName = 'menu-popup'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

    const menuPopupTopData = [
      { title: 'Ипотека', link: '#', src: '../../images/menu-popup-top/icon_glass-1.png' },
      { title: 'КАСКО', content: [
        { text: 'Классик', link: '#' },
        { text: 'Оптима', link: '#' },
        { text: 'Формула 50+', link: '#' },
        { text: 'Профи', link: '#' },
        { text: 'Легкое КАСКО', link: '#' },
        { text: 'Помощь', link: '#' }
      ], src: '../../images/menu-popup-top/icon_glass-2.png'},
      { title: 'ОСАГО', link: '#', src: '../../images/menu-popup-top/icon_glass-3.png' },
      { title: 'Несчастный случай', link: '#', src: '../../images/menu-popup-top/icon_glass-4.png' },
      { title: 'Страхование путешественников', link: '#', src: '../../images/menu-popup-top/icon_glass-5.png' },
      { title: 'Страхование имущества физических лиц', link: '#', src: '../../images/menu-popup-top/icon_glass-6.png' },
      { title: 'Антиклещ', link: '#', src: '../../images/menu-popup-top/icon_glass-7.png' },
      { title: 'Зеленая карта', link: '#', src: '../../images/menu-popup-top/icon_glass-8.png' },
      { title: 'Cтрахование мигрантов', link: '#', src: '../../images/menu-popup-top/icon_glass-9.png' },
      { title: 'Телемедицина', link: '#', src: '../../images/menu-popup-top/icon_glass-10.png' }
    ]

  .menu-popup(class=allMods)&attributes(attributes)
    .menu-popup__content
      .menu-popup__close-drag
      .menu-popup__close-cross
      +ui-input-search("helper", "Чем вам помочь?", "menu-popup, --popup")
      .menu-popup__info
        each infoItem in menuPopupContent
          div(class='menu-popup__' + infoItem.class).menu-popup__info-item
            +ui-p2(infoItem.text, "--semibold")
            .menu-popup__link
      .menu-popup__more
        a(href="#").menu-popup__app
          .menu-popup__app-image
            img(src="../../images/popup-menu/mob-app.png", alt="mobile-app")
          +ui-p3("Мобильное приложение. Все функции под рукой", "--white, --semibold")
        .menu-popup__map.search-popup__open
          .menu-popup__map-image
            img(src="../../images/popup-menu/map-pin.png", alt="map")
          +ui-p3("Москва", "--semibold")
          .menu-popup__link
      .menu-popup__feedback
        +ui-h3("8-800-100-82-00", "--montserrat")
        +ui-p3("Федеральный контактный центр")
      +menu-popup-top(menuPopupTopData)
