.menu-popup {
  display: none;
  z-index: 9;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 81px;
  background-color: rgba(0,0,0,0.5);
  @include media-tablet {
    padding-bottom: 66px;
  }
  &__content {
    margin-top: auto;
    padding: 10px 20px 28px;
    background: $base-white;
    border-radius: 6px 6px 0px 0px;
    @include media-tablet{
      padding: 10px 16px 22px;
    }
  }
  &__ui-input-search{
    margin-bottom: 8px;
  }
  &__more{
    margin-top: 8px;
  }
  &__feedback {
    display: grid;
    text-align: center;
    gap: 4px;
    margin-top: 30px;
    @include media-tablet {
      margin-top: 24px;
    }
    .ui-p3 {
      color: $main-neutral-neutral-variant-50;
    }
  }
}