mixin menu-popup(menuPopupContent, mods)
  -
    const baseName = 'menu-popup'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .menu-popup(class=allMods)&attributes(attributes)
    .menu-popup__content
      .menu-popup__close-drag
      .menu-popup__close-cross
      +ui-input-search("helper", "Чем вам помочь?", "menu-popup, --popup")
      .menu-popup__info
        each infoItem in menuPopupContent
          .menu-popup__info-item(class='menu-popup__' + infoItem.class data-open-popup = infoItem.popup)
            +ui-p2(infoItem.text, "--semibold")
            .menu-popup__link
      .menu-popup__more
        a(href="#").menu-popup__app
          .menu-popup__app-image
            img(src="../../images/popup-menu/mob-app.png", alt="mobile-app")
          +ui-p3("Мобильное приложение. Все функции под рукой", "--white, --semibold")
        .menu-popup__map.search-popup__open
          .menu-popup__map-image
            img(src="../../images/popup-menu/map-pin.png", alt="map")
          +ui-p3("Москва", "--semibold")
          .menu-popup__link
      .menu-popup__feedback
        +ui-h3("8-800-100-82-00", "--montserrat")
        +ui-p3("Федеральный контактный центр")
      
