extends ../../layout/layout

block variables
  -
    const bannerContent = [
      {
        title: "Оформить полис КАСКО",
        text: "КАСКО – это ваша финансовая защита при угоне, ДТП или неожиданном повреждении автомобиля. Выберите лучшую программу КАСКО, отвечающую всем вашим требованиям - не выходя из дома.",
        src: "../../images/banner/kasko-banner-image.png"
      }
    ]
    const saleContent = [
      { title:"от <span class='ui-label'>1990</span> ₽", text:"большой выбор программ" },
      { title:"скидки до <span class='ui-label'>70</span> %", text:"для водителей со стажем" },
      { title:"Экономия времени <span class='ui-label'></span>", text:"подберем выгодный полис" }
    ]
    const choiceContent = [
      {
        title:'Классик',
        text:'Полная защита авто без ограничений по возрасту и стажу вождения',
        src:'../../images/choice/classic.png'
      },
      {
        title:'Оптима',
        text:'Полная защита автомобиля с экономией до 30% для уверенных водителей',
        src:'../../images/choice/optima.png'
      },
      {
        title:'Формула 50+',
        text:'КАСКО с двумя платежами: вторую часть вносите при наступлении страхового случая',
        src:'../../images/choice/formula.png'
      },
      {
        title:'Профи',
        text:'Выгода до 70% для водителей со стажем',
        src:'../../images/choice/profi.png'
      },
      {
        title:'Легкое КАСКО',
        text:'Базовые риски всего за 1900 ₽',
        src:'../../images/choice/lightKASKO.png'
      },
      {
        title:'Помощь',
        text:'Защита автомобиля по вине другого участника, даже если у того нет ОСАГО, всего от 1990 ₽',
        src:'../../images/choice/help.png'
      }
    ]
    const usefulContent = [
      {
        src:"../../images/useful/accident.png",
        title:"ДТП",
        desc:"даже если виновник вторая сторона и у него нет ОСАГО"
      },
      {
        src:"../../images/useful/transportation.png",
        title:"Угон",
        desc:"и противоправные действия третьих лиц"
      },
      {
        src:"../../images/useful/parking.png",
        title:"Повреждения на парковке",
        desc:"в том числе падение предметов"
      },
      {
        src:"../../images/useful/fire.png",
        title:"Пожар, взрыв",
        desc:"особенно, если авто сгорел полностью"
      }
    ]
    const smallBannerContent = [
      { title: 'Эвакуация с места ДТП и ремонт деталей без износа' },
      { title: 'Ремонт фары, зеркала или стекла без справок (до 1 раз в год)' },
      { title: 'Можно получить полную стоимость автомобиля без учета износа при угоне или тотальном повреждении' },
      { title: 'Подходят для кредитных авто, как новых, так и б/у' },
      { title: 'Можно выбрать программу с базовым набором рисков с выгодой до 70%' }
    ]
    const advantageContent = [
      { label: "11 место", text:"Среди крупнейших страховщиков по КАСКО", link: "#" },
      { label: "ТОП 3", text:"По качеству сервиса", link: "#" },
      { label: "21 <span class='ui-h4 ui-h4--semibold'>год +</span>", text:"Работаем для вас" },
      { label: "24/7", text:"Круглосуточная поддержка" }
    ]
    const prosContent = [
      { title: "Удобно", text:"Вы можете сами рассчитать стоимость полиса на сайте, используя калькулятор, и оформить страховку онлайн. Для этого не нужно ехать в офис: полис придет к вам на e-mail, он действителен так же, как и его бумажный вариант." },
      { title: "Выгодно", text: "Широкий выбор программ от 1990 руб. за полис, которые максимально отвечают вашим пожеланиям и требованиям и позволяют сэкономить до 70% по сравнению с классическим КАСКО. Есть рассрочка." },
      { title: "Надежно", text: "У нас есть круглосуточная поддержка по телефону 8 (800) 100-82-00, нам доверилось уже более 2,5 млн клиентов по всей России, за последний год мы выплатили ---- по договорам КАСКО. Наш рейтинг надежности – ruA+" }
    ]
    const questionContent = [
      { title: "Что нужно для оформления?", text: "Какой-то текст" },
      { title: "Как продлить?", text: "Какой-то текст" },
      { title: "Вернут ли оставшуюся премию при продаже авто?", text: "Какой-то текст" },
      { title: "Когда не выплатят по Каско?",
        ulItems: [
          { title:"Если вред автомобилю был нанесен преднамеренно" },
          { title:"Если машина использовалась в целях, не предусмотренных договором (например, в соревнованиях, в прокате, для обучения вождению или для совершения преступления)" },
          { title:"Если авто управлялось лицом, которое не имело на это прав" }
        ],
        text: "Более подробный перечень ограничений смотрите в Правилах страхования, а также в вашем договоре."
      },
      { title: "Как производится ремонт по Каско?", text: "Какой-то текст" },
      { title: "Сколько водителей можно вписать в полис Каско?", text: "Какой-то текст" },
      { title: "Как получить компенсацию по Каско?", text: "Какой-то текст" },
      { title: "Максимальная сумма выплаты по Каско", text: "Какой-то текст" },
      { title: "Выплата по Каско если сам виноват", text: "Какой-то текст" }
    ]
  
block content
  main.main
    .inner
      .breadcrumbs__mob.mob-disp
        +breadcrumbs()
            +breadcrumbs-item('ГЛАВНАЯ', '/')
            +breadcrumbs-item('КАСКО')
      +banner(bannerContent, "--xl")
        block breadcrumbs
          +breadcrumbs("banner, --filled").mob-hidden
            +breadcrumbs-item('ГЛАВНАЯ', '/')
            +breadcrumbs-item('КАСКО')
      +section("--first, --inner, --white, --mob-full")
        +request({ h2: "Оставьте заявку на полис КАСКО", p2: "Оставьте свои данные - мы поможем подобрать для вас программу на самых выгодных условиях." }, "Оставить заявку", "form-1-", "--white")
      +section()
        +sale(saleContent)
      +section()
        +choice({ h2: "Выберите программу КАСКО", p2: "Вы можете получить индивидуальное предложение либо выбрать одну из наших программ — в зависимости от стажа, стиля вождения и состояния автомобиля" }, choiceContent, "Сравнить программы")
      +section()
        +useful({ h2: "В каких случаях пригодится КАСКО" }, usefulContent)
      +section()
        +small-banner({ h2: "Преимущества КАСКО в «Югории»", p2: "Наши программы предлагают разные возможности" },
         "../../images/small-banner/kasko-small-banner-photo.png")
         block smallBannerInfo
          +ui-ul(smallBannerContent, "small-banner, --white")
      +section("--inner, --filled, --bg-image")
        +request({ h2: "Оставьте заявку на полис КАСКО", p2: "Оставьте свои данные - мы поможем подобрать для вас программу на самых выгодных условиях." }, "Оставить заявку", "form-2-")
      +section()
        +advantages({ h2: "Преимущества «Югории»" }, advantageContent)
      +section()
        +pros(prosContent, "../../images/pros/darts.png")
      +section("--inner, --filled, --mob-full")
        +questions({ h2: "Частые вопросы по КАСКО" }, questionContent)
      +section()
        +test()

