extends ../../layout/layout

block variables
  -

block content
  main.main
    +banner()
    .inner
      +section()
        +request("Top", "--white")
      +section()
        +sale()
      +section()
        +choice()
      +section()
        +useful()
      +section()
        +small-banner()
      +section()
        +request("Bottom")
      +section()
        +advantages()
      +section()
        +pros()
      +section()
        +questions()

