extends ../../layout/layout

block variables
  -

block content
  main.main
    +banner()
    .inner
      +section()
        +request("form-1-", "--white")
      +section()
        +sale()
      +section()
        +section-head({
          h2: "Выберите программу КАСКО",
          p2: "Вы можете получить индивидуальное предложение либо выбрать одну из наших программ — в зависимости от стажа, стиля вождения и состояния автомобиля"
          })
        +choice()
      +section()
        +section-head({h2: "В каких случаях пригодится КАСКО"})
        +useful()
      +section()
        +small-banner()
      +section()
        +request("form-2-")
      +section()
        +section-head({h2: "Преимущества «Югории»"})
        +advantages()
      +section()
        +pros()
      +section()
        +section-head({h2: "Частые вопросы по КАСКО"})
        +questions()

