extends ../../layout/layout

block variables
  -

block content
  main.main
    .inner
      +banner()
      +section("--first, --inner, --white")
        +request("form-1-", "--white")
      +section()
        +sale()
      +section()
        +choice()
      +section()
        +useful()
      +section()
        +small-banner()
      +section("--inner, --filled, --bg-image")
        +request("form-2-")
      +section()
        +advantages()
      +section()
        +pros()
      +section("--inner, --filled")
        +questions()
      +section()
        +test()

