extends ../../layout/layout

block variables
  -

block content
  main.main
    .inner
      +section()
        +sale()
      +section()
        +choice()
      +section()
        +useful()
      +section()
        +small-banner()
      +section()
        +request()
      +section()
        +advantages()
      +section()
        +pros()
      +section()
        +questions()


