extends ../../layout/layout

block variables
  -

block content
  main.main
    .inner
      +banner()
      +section("--first")
        +request("form-1-", "--white")
      +section()
        +sale()
      +section()
        +choice()
      +section()
        +useful()
      +section()
        +small-banner()
      +section()
        +request("form-2-")
      +section()
        +advantages()
      +section()
        +pros()
      +section()
        +questions()

