.section-head {
  margin-bottom: 35px;
  @include media-laptop {
    margin-bottom: 24px;
  }
  .ui-p2 {
    width: 66%;
    padding-top: 18px;
    @include media-laptop {
      padding-top: 12px;
    }
    @include media-laptop {
      width: 100%;
    }
  }
}
[class*='section-head'] {
  &[class*='--xs'] {
    margin-bottom: 28px;
  }
}
