.section-head {
  padding-bottom: 35px;
  @include media-laptop {
    padding-bottom: 24px;
  }
  .ui-p2 {
    padding-top: 18px;
    @include media-laptop {
      padding-top: 12px;
    }
  }
  &--pd-xs {
    padding-bottom: 28px;
    @include media-laptop {
      padding-bottom: 24px;
    }
  }
  &--white {
    color: $base-white;
  }
  &--half-width {
    width: 66%;
    @include media-laptop {
      width: 100%;
    }
  }
}
