mixin advantages(sectionHeadText, advantageItems, mods)
  -
    const baseName = 'advantages'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }


  .advantages(class=allMods)&attributes(attributes)
    +section-head({h2: sectionHeadText.h2})
    .advantages__content
      each item in advantageItems
        if item.link
          .advantages-item
            +ui-label(item.label, "advantages-item")
            a(href="#")
              +ui-p1(item.text, "advantages-item")
                .external-link
                  img(src="../../images/advantages/external-link.png", alt="external-link")
        else
          .advantages-item
            +ui-label(item.label, "advantages-item")
            +ui-p1(item.text, "advantages-item")
    block
