.choice {
  &__content {
    position: relative;
    padding-bottom: 40px;
    @include media-laptop {
      padding-bottom: 30px;
    }
    @include media-tablet {
      padding-bottom: 24px;
      margin-right: -16px;
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
    @include media-laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include media-tablet {
      display: flex;
      gap: 0;
    }
  }
  &-item {
    width: auto;
    height: auto;
    padding: 30px 55px 50px;
    background: $base-white;
    border-radius: 6px;
    text-align: center;
    @include media-laptop {
      padding: 30px 22px;
    }
    @include media-tablet {
      max-width: 270px;
      padding: 20px 16px 30px;
      text-align: left;
    }
    &__image {
      width: 100%;
      min-width: 130px;
      max-width: 178px;
      margin: 0 auto 38px;
      @include media-laptop {
        margin-bottom: 30px;
      }
      @include media-tablet {
        max-width: 130px;
        margin: 0;
        padding: 0;
      }
    }
    &__ui-h4 {
      margin-bottom: 16px;
      @include media-laptop {
        margin-bottom: 10px;
      }
      @include media-tablet {
        margin-bottom: 6px;
      }
    }
  }
  &__ui-button {
    display: block;
    margin: 0 auto;
  }
  .swiper {
    &-pagination {
      display: none;
      @include media-tablet {
        display: block;
      }
    }
  }
}
