mixin choice(sectionHeadText, cardItems, buttonText, mods)
  -
    const baseName = 'choice'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .choice(class=allMods)&attributes(attributes)
    +section-head({
        h2: sectionHeadText.h2,
        p2: sectionHeadText.p2
      }, "--half-width")
    .choice__content.swiper
      .choice__wrapper.swiper-wrapper
        each item in cardItems
          .choice-item.swiper-slide
            .choice-item__image
              img(src=item.src, alt="card-image")
            .choice-item__text
              +ui-h4(item.title, "choice-item, --semibold")
              +ui-p2(item.text)
      +ui-swiper-bullets("--mobile")
    if buttonText
      +ui-button({p2: buttonText}, "choice, --border, --center")
    block
