.choice {
  &__content {
    position: relative;
    @include media-tablet {
      margin: 0 calc($inner-pd * -1);
    }
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 30px;
    @include media-laptop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @include media-tablet {
      display: flex;
      gap: 0;
    }
  }
  &--xs {
    .choice__wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &--leftImage {
    .choice-item{
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 30px;
      text-align: left;
      @include media-laptop {
        display: block;
        text-align: center;
      }
      @include media-tablet {
        text-align: left;
      }
      &__image {
        margin: 0;
        @include media-laptop {
          margin: 0 auto 30px;
        }
        @include media-tablet {
          margin: 0 0 30px;
        }
      }
    }
  }
}
