mixin small-banner(bannerContent, mods)
  -
    const baseName = 'small-banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .small-banner(class=allMods)&attributes(attributes)
    .small-banner__content
      .small-banner__info
        block smallBannerInfo
      .small-banner__image
        img(src=bannerContent.image, alt="small-banner-image")

