mixin small-banner(mods)
  -
    const baseName = 'small-banner'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    const smallBannerListItems =[
      { title: 'Эвакуация с места ДТП и ремонт деталей без износа'},
      { title: 'Ремонт фары, зеркала или стекла без справок (до 1 раз в год)'},
      { title: 'Можно получить полную стоимость автомобиля без учета износа при угоне или тотальном повреждении' },
      { title: 'Подходят для кредитных авто, как новых, так и б/у'},
      { title: 'Можно выбрать программу с базовым набором рисков с выгодой до 70%'}
    ]
  .small-banner(class=allMods)&attributes(attributes)
    .small-banner__content
      .small-banner__info
        +section-head({h2: "Преимущества КАСКО в «Югории»", p2:"Наши программы предлагают разные возможности"}, "--xs")
        +ui-ul(smallBannerListItems, "small-banner, --white")
      .small-banner__image
        img(src="../../images/small-banner/small-banner-photo.png", alt="small-banner-image")
    block
