// main: ../../style.less
.pros{
    &__content{
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 95px;
        @media @tablet {
            display: block;
        }
    }
    &__image{
        margin: 0 auto;
        max-width: 640px;
        max-height: 480px;
        border-radius: 6px;
        @media @tablet {
            margin-top: 30px;
        }
        @media @mobile {
            max-width: 328px;
            max-height: 246px;
            margin-top: 24px;
        }
    }
    &-item{
        padding: 24px 0;
        border-bottom: 1px solid @main-neutral-neutral-variant-90;
        @media @tablet {
            padding: 20px 0;
        }
        @media @mobile {
            margin-top: 16px;
        }
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
            border-bottom: none;
        }
        &__title{
            margin-bottom: 12px;
            font-family: @font-Unbounded;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 140%;
            background: @new-gradient-1;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            @media @tablet {
                margin-bottom: 10px;
                font-size: 18px;
            }
        }
        &__text{
            color: @base-black;
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: @font-Montserrat;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 140%;
        }
    }
}