.useful {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    @include media-laptop {
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
    @include media-tablet {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }
  &-item {
    padding: 30px 20px;
    background: $base-white;
    border-radius: 6px;
    @include media-laptop {
      padding: 20px 16px;
    }
    @include media-tablet {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 20px;
    }
    &__header {
      width: 100%;
      max-width: 36px;
      height: 36px;
      margin-bottom: 53px;
      @include media-laptop {
        margin-bottom: 60px;
      }
      @include media-tablet {
        margin: 0;
      }
    }
    &__ui-p1 {
      margin-bottom: 12px;
      @include media-laptop {
        margin-bottom: 10px;
      }
      @include media-tablet {
        margin-bottom: 8px;
      }
    }
  }
}
