mixin useful(sectionHeadText, usefulContent, mods)
  -
    const baseName = 'useful'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .useful(class=allMods)&attributes(attributes)
    if sectionHeadText
      +section-head({h2: sectionHeadText.h2})
    .useful__content
      each usefulItem in usefulContent
        .useful-item
          .useful-item__header
            img(src=usefulItem.src, alt=usefulItem.className)
          .useful-item__text
            +ui-p1(usefulItem.title, "useful-item, --semibold")
            +ui-p2(usefulItem.desc)
    block
