mixin useful(mods)
  -
    const baseName = 'useful'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }
    const usefulContent = [
      {
        src:"../../images/useful/accident.png",
        title:"ДТП",
        desc:"даже если виновник вторая сторона и у него нет ОСАГО"
      },
      {
        src:"../../images/useful/transportation.png",
        title:"Угон",
        desc:"и противоправные действия третьих лиц"
      },
      {
        src:"../../images/useful/parking.png",
        title:"Повреждения на парковке",
        desc:"в том числе падение предметов"
      },
      {
        src:"../../images/useful/fire.png",
        title:"Пожар, взрыв",
        desc:"особенно, если авто сгорел полностью"
      }
    ]

  .useful(class=allMods)&attributes(attributes)
    +section-head({h2: "В каких случаях пригодится КАСКО"})
    .useful__content
      each usefulItem in usefulContent
        .useful-item
          .useful-item__header
            img(src=usefulItem.src, alt=usefulItem.className)
          .useful-item__text
            +ui-p1(usefulItem.title, "useful-item, --semibold")
            +ui-p2(usefulItem.desc)
    block
