mixin questions(sectionHeadText, questionItems, mods)
  -
    const baseName = 'questions'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .questions(class=allMods)&attributes(attributes)
    +section-head({h2: sectionHeadText.h2})
    .questions__content
      each questionItem in questionItems
        +ui-accordion({h5: questionItem.title}, "questions-item, --toggle-plus")
          if questionItem.ulItems
            +ui-ul(questionItem.ulItems)
          +ui-p2(questionItem.text)
    block
