.questions {
  padding: 50px 90px;
  background: $new-ghost-2;
  @include media-laptop {
    padding: 40px 30px;
  }
  @include media-tablet {
    margin: 0 calc($inner-pd * -1);
    padding: 30px 16px 40px;
  }
  &__content {
    padding: 20px 90px 40px;
    background: $base-white;
    border-radius: 6px;
    box-shadow: 0 20px 24px 0 rgb(0 0 0 / 0.12);
    @include media-laptop {
      padding: 10px 20px 30px;
    }
    @include media-tablet {
      padding: 4px 16px 24px;
    }
  }
  &-item__ui-accordion:not(:last-child) {
    border-bottom: 1px solid $main-neutral-neutral-variant-90;
  }
  .ui-accordion__head {
    padding: 20px 0;
    &--active {
      padding-bottom: 10px;
    }
  }
  .ui-accordion__body {
    padding-bottom: 20px;
  }
}
