-
  const headerNavMain = [
      { text: 'Частным лицам', link: '#' },
      { text: 'Корпоративным клиентам', link: '#' },
      { text: 'Партнерам', link: '#' },
      { text: 'О компании', link: '#' },
      { text: 'Блог', link: '#' }
  ]
  const headerNavSearch = [
      { text: 'Москва', link: '#', src: '../../images/header/geo.png', searchButton: true},
      { text: 'Офисы', link: '#'},
      { text: 'Поиск', link: '#', src: '../../images/header/search.png'}
  ]
  const headerNavMenu = [
      { text: 'Автомобили', link: '#'},
      { text: 'Имущество', link: '#'},
      { text: 'Здоровье', link: '#'},
      { text: 'Путешествия', link: '#'}
  ]
  const menuPopupContent = [
      { text: "Частным клиентам", class: "private" },
      { text: "Корпоративным клиентам", class: "corporative" },
      { text: "Партнерам", class: "partners" },
      { text: "О компании", class: "company" }
    ]
  const searchPopupContent = [
      { text: 'Санкт-Петербург' },
      { text: 'Москва' },
      { text: 'Екатеринбург' },
      { text: 'Ростов-на-Дону' }
    ]

header.header
  .header__top.tablet-hidden
    .inner
      .header__content
        a(href="").header__logo
          img(src="../../images/logo.png", alt="logo")
        nav.header__nav
          .header__nav-main
            each navItem in headerNavMain
              a(href=navItem.link).nav__link.ui-p3=navItem.text
          .header__nav-search
            each navItem in headerNavSearch
              a(href=!navItem.searchButton && navItem.link class=navItem.searchButton && "search-popup__open").ui-p2.nav__link
                if navItem.src
                  .nav__icon
                    img(src=navItem.src, alt="nav-image")
                =navItem.text
  .header__bot
    .inner
      .header__content
        a(href="").header__logo.tablet-disp
          img(src="../../images/logo.png", alt="logo")
        nav.nav__menu.tablet-hidden
          each navItem in headerNavMenu
            a(href=navItem.link).ui-p3=navItem.text
        .header__login
          a(href="#").header-insurance
            .header-insurance__wrapper
              img(src="../../images/header/insurance.png", alt="insurance")
            +ui-p3("Страховой случай")
          +ui-button({p2: "Войти"}, "--white, --xxs, header")(href='').mob-hidden
  +tab-bar()
  +menu-popup(menuPopupContent)
  +search-popup(searchPopupContent)

