// main: ../style.less
@tablet:~ "screen and (max-width: 1440px)";
@mobile:~ "screen and (max-width: 768px)";
@font-Montserrat: "Montserrat", "Arial", sans-serif;
@font-Unbounded: "Unbounded", "Arial", sans-serif;
@base-black: #272727;
@base-white: #fff;
@base-primary: #0054e6;
@main-primary-primary-50: #326cfd;
@main-primary-primary-60: rgb(99, 138, 255);
@main-primary-primary-60-hover: rgba(99, 138, 255, 0.1);
@main-primary-primary-60-active: rgba(99, 138, 255, 0.2);
@main-primary-primary-70: #8da8ff;
@main-neutral-neutral-variant-50: #767680;
@main-neutral-neutral-variant-90: #e2e1ec;
@main-error-error-50:#E3255E;
@new-ghost-2: #d6dcea;
@new-gradient-1: linear-gradient(91deg, #5a6bff 0.89%, #0054e6 99.35%);
