@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'),
      url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
      url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Medium.woff2') format('woff2'),
      url('../fonts/Unbounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
      url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-SemiBold.woff2') format('woff2'),
      url('../fonts/Unbounded-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Regular.woff2') format('woff2'),
      url('../fonts/Unbounded-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@tablet:~ "screen and (max-width: 1440px)";
@mobile:~ "screen and (max-width: 768px)";
@base-black: #272727;
@base-white: #fff;
@main-primary: #0054e6;
@main-primary-primary-50: #326cfd;
@main-primary-primary-60: rgb(99, 138, 255);
@main-primary-primary-60-hover: rgba(99, 138, 255, 0.1);
@main-primary-primary-60-active: rgba(99, 138, 255, 0.2);
@main-primary-primary-70: #8da8ff;
@main-neutral-neutral-variant-50:#767680;
@main-neutral-neutral-variant-90: #e2e1ec;
@new-ghost-2: #d6dcea;
@new-gradient-1: linear-gradient(91deg, #5A6BFF 0.89%, #0054E6 99.35%);
