.ui-ul {
  $marker-size: 6px;
  margin-bottom: 12px;
  li {
    position: relative;
    padding-left: calc($marker-size + 9px);
    &:not(:last-child) {
      margin-bottom: 12px;
      @include media-laptop {
        margin-bottom: 10px;
      }
    }
    &::before {
      content: '';
      position: absolute;
      top: calc(1em / 2);
      left: 0;
      width: $marker-size;
      height: $marker-size;
      border-radius: 50%;
      background: $base-primary;
    }
  }
}
[class*='ui-ul'] {
  &[class*='--white'] {
    li {
      &::before {
        background: $base-white;
      }
    }
  }
}
