.pros {
  &__content {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 95px;
    @include media-laptop {
      display: block;
    }
  }
  &__image {
    max-width: 640px;
    max-height: 480px;
    margin: 0 auto;
    border-radius: 6px;
    @include media-laptop {
      margin-top: 30px;
    }
    @include media-tablet {
      max-width: 328px;
      max-height: 246px;
      margin-top: 24px;
    }
  }
  &-item {
    padding: 24px 0;
    border-bottom: 1px solid $main-neutral-neutral-variant-90;
    @include media-laptop {
      padding: 20px 0;
    }
    @include media-tablet {
      margin-top: 16px;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    &__ui-h4 {
      margin-bottom: 12px;
      background: $new-gradient-1;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @include media-laptop {
        margin-bottom: 10px;
      }
    }
  }
}
