mixin pros(prosContent, mods)
  -
    const baseName = 'pros'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .pros(class=allMods)&attributes(attributes)
    .pros__content
      .pros__info
        each prosItem in prosContent.items
          .pros-item
            +ui-h4(prosItem.title, "pros-item, --semibold")
            +ui-p2(prosItem.text)
      .pros__image
        img(src=prosContent.image, alt="prosImage")
    block
